body{
    background-image: url('businessman-hold-credit-cards-conduct-financial-transactions-via-tablets-and-data-documents-put-on-the-desk-in-the-morning-700-181867155.jpg');
    background-repeat: none;
    background-size: cover;
}
.up{
    background-color:orangered;
    color: white;
    margin-top: -22px;
    padding-left: 99px;
    margin-left: -11px;
    margin-right: -9px
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left:100px;
}
.navbar li{
    list-style-type: none;
    display: inline;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.flex{
    display:flex;
    justify-content: space-between;
    background-color: rgba(114, 113, 113, 0.829);
    align-items:baseline;
    margin-top:120px;
    color: white;
    width: 1359px;
    margin-left: -8px;
    height: 246px;
   
    }
.middle{
    text-align: center;
    color: white;
}
.navi1{
    border: none;
    background-color:transparent;
    color: white;

}
.navi2{
    border-radius:10px;
    background-color:orangered;
    border: none;
    width:70px;
    height:35px;
    color: white;
}
.head{
    color: white;
}
.butt{
    margin-right:100px;

}
.middle h1{
    font-size:3em;
}
.button1,.button2,.button3,.button4{
    background-color: orangered;
    border:none;
    height:25px;
    width:140px;
    border-radius:10px;
    color: white;
    
    
}
.flex1,.flex2,.flex3,.flex4{
    margin-bottom:400cap;
}
.flex1 ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.flex1{
    width: 336px;
    margin: 7px;
}
.flex2{
    width: 303px;
}
.flex4{
    width: 301px;
}